@import 'colors.scss';
body {
  margin: 0;

  .toggle-button {
    background-color: $primaryColor;
    border: none;
  }
}

.navbar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: $primaryColor;
  position: relative;
  .menu-icon{
    color: $secondaryColor;
  }
  .x-icon{
    color: $basicTextGrayColor;
  }
}
.dropdown-menu-on {
  position: absolute;
  left: 0;
  background-color: $primaryColor;
  z-index: 2;
  width: 100%;
  display: block;

  .dropdown-menu-ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .dropdown-menu-ul-li {
      padding: 10px;
      border-bottom: 1px solid $grayColor;

      .dropdown-menu-ul-li-a {
        font-feature-settings: 'liga' off;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        text-decoration: none;
        color: $blackColor;
        display: block;
      }
    }
  }
}
.dropdown-menu-off {
  position: absolute;
  left: 0;
  background-color: $primaryColor;
  z-index: 2;
  width: 100%;
  display: none;
}
.footer {
  background-color: $blackColor;
  display: flex;
  justify-content: center;
  padding: 20px;

  .footer-nav {
   
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;

    .footer-nav-div {
      text-align: center;

      .footer-nav-div-h5 {
        color: $primaryColor;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 26px;
      }

      .footer-nav-div-h4 {
        color: $primaryColor;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
      }

      .footer-nav-div-ul {
        list-style: none;
        padding: 0;
    
        .footer-nav-div-ul-li {
          margin-bottom: 8px;
          text-decoration: none;
          color: $darkrtGrayColor;
    
          .footer-nav-div-ul-li-a {
            text-decoration: none;
            color: $darkrtGrayColor;
          }
        }
      }
    }
  }

  
}
