.basic-section-cookies
  .basic-panel-news
    p.regular-14-16-cookieBlack website uses cookies
    p.regular-14-16-cookieBlack We use cookies to personalize content and ads, to provide social media features and to analyze our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services
    button.cookie-button.bold-14-20-secondaryColor(onclick="removeCookieSection()") OK