section.basic-section-gray
  .basic-panel
    div
      img(src="./assets/img/searchImage.webp")
    div
      h1.black-headline-4 Get everything you need from a job
      p.search-section__p.gray-on-gray-subtitle-2 Search for and be recommended to a new job that you'll love.
    form.search-section-container(action="")
      input.job-input.gray-on-gray-lead-1(type="text" placeholder="Job Title")
      .bottom-container
        input.where-input.gray-on-gray-lead-1(type="text" placeholder="Where")
        select.search-section-select.gray-on-gray-lead-1
          option.search-section-select__option.gray-on-gray-lead-1(value="" disabled selected) Distance
          option.search-section-select__option.gray-on-gray-lead-1(value="")
      a.primary-button(href="./search.html") Search
