- const candidatesSlides = [{title: "Efficient Collaborating"}, {title: "Intuitive Design"}, {title: "Mindblowing Service"}]


section.carousel-section.rev-carousel-section
  article.carousel-article
    div
    h2.black-headline-4 Our client speak
    p.gray-on-gray-subtitle-2 We have been working with clients around the world
    .carousel-container.candidates-carousel
      .carousel 
        each slide in candidatesSlides
          .slide.rev-slide
            img(src="./assets/img/reviewStars.webp")
            h3.black-headline-6= slide.title
            p.black-subtitle-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo enim consectetur! Quisquam tempora nihil illo rerum? Nulla quam sit fugiat, qui quaerat maiores odit sunt eligendi ut enim delectus.
            .profile-container
              img(src="./assets/img/circlePicture.webp")
              p.black-subtitle-2.profile-line-adjustment Jane Cooper 
              p.gray-on-gray-subtitle-2.profile-line-adjustment CEO at ABC Corporation
      .slide-indicators
  