include ../mixins/button
section.basic-section-gray
  .basic-panel
    div
      img(src="./assets/img/searchImage.webp")
    div
      h1.bold-24-30-cookieBlack Get everything you need from a job
      p.search-section__p.regular-16-24-basicTextGrayColor Search for and be recommended to a new job that you'll love.
    form.search-section-container(action="")
      input.job-input.extra-bold-16-22-basicTextGrayColor(type="text" placeholder="Job Title")
      .bottom-container
        input.where-input.gray-on-gray-lead-1(type="text" placeholder="Where")
        select.search-section-select.extra-bold-16-22-basicTextGrayColor
          option.search-section-select__option.extra-bold-16-22-basicTextGrayColor(value="" disabled selected) Distance
          option.search-section-select__option.extra-bold-16-22-basicTextGrayColor(value="")
      +button("Search", "./search.html", "primary")
