- const reviews = [{title: "Efficient Collaborating"}, {title: "Intuitive Design"}, {title: "Mindblowing Service"}]


section.carousel-section.rev-carousel-section
  article.carousel-article
    div
    h2.bold-24-30-cookieBlack Our client speak
    p.regular-16-24-basicTextGrayColor We have been working with clients around the world
    .carousel-container.candidates-carousel
      .carousel 
        each review in reviews
          .slide.rev-slide
            img(src="./assets/img/reviewStars.webp")
            h3.bold-18-26-cookieBlack= review.title
            p.regular-16-24-cookieBlack Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo enim consectetur! Quisquam tempora nihil illo rerum? Nulla quam sit fugiat, qui quaerat maiores odit sunt eligendi ut enim delectus.
            .profile-container
              img(src="./assets/img/circlePicture.webp")
              p.regular-16-24-cookieBlack.profile-line-adjustment Jane Cooper 
              p.regular-14-24-basicTextGrayColor.profile-line-adjustment CEO at ABC Corporation
      .slide-indicators
  