section.search-section
  .search-section-container
    div
      img(src="./assets/img/searchImage.webp")
    div
      h1 Get everything you need from a job
      p.search-section__p Search for and be recommended to a new job that you'll love.
    form(action="")
      input.job-input(type="text" placeholder="Job Title")
      input.where-input(type="text" placeholder="Where")
      select.search-section__select
        option.search-section__select__option(value="" disabled selected) Distance
        option.search-section__select__option(value="")
      input.primary-button(type="submit" value="Search")
