section.basic-section-gray
  .basic-panel
    form.search-section-container(action="")
      input.job-input-secondary.gray-on-gray-lead-1(type="text" placeholder="Job Title")
      .bottom-container
        input.where-input-secondary.gray-on-gray-lead-1(type="text" placeholder="Where")
        select.search-section-select-secondary.gray-on-gray-lead-1
          option.search-section-select__option.gray-on-gray-lead-1(value="" disabled selected) Distance
          option.search-section-select__option.gray-on-gray-lead-1(value="")
      a.secondary-button(href="./search.html") Filters
      a.primary-button(href="./search.html") Search
block content
  include ../components/job_card

