section.search-section
  .search-section-container
    div
      img(src="./assets/img/searchImage.webp")
    div
      h1.black-headline-4 Get everything you need from a job
      p.search-section__p.gray-on-gray-subtitle-2 Search for and be recommended to a new job that you'll love.
    form(action="")
      input.job-input.gray-on-gray-lead-1(type="text" placeholder="Job Title")
      input.where-input.gray-on-gray-lead-1(type="text" placeholder="Where")
      select.search-section__select.gray-on-gray-lead-1
        option.search-section__select__option.gray-on-gray-lead-1(value="" disabled selected) Distance
        option.search-section__select__option.gray-on-gray-lead-1(value="")
      input.search-button.gray-on-gray-lead-1(type="submit" value="Search")
