extends ../_template

block variables
  - var title = 'Main page'

block content
    include ../components/navigation
    include ../components/search
    include ../components/carousel
    include ../components/news
    include ../components/footer