extends ../_template

block variables
  - var title = 'Main page'

block content
    include ../components/navigation
    h1 It's some Home page
    include ../components/search
    include ../components/landing_reviews
    include ../components/footer