$primaryColor: #2E1AAD;
$secondaryColor: #FFFFFF;
$grayColor: #F5F7FA;
$darkerGrayColor: #D9DBE1;
$blackColor: #0B0D17;
$basicTextGrayColor: #999999;
$inputBorderGray: #DDDDDD;
$cookieBlack: #231F20;
$activeGreen: #05A660