.title-heart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-title{
  color: #231F20;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.important-text{
  color: #231F20;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; 
}

.important-row{
  display: flex;
  align-items: center;

  &__img{
    padding-right: 10px;
  }
}

.meta-text{
  color: #666;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.card-container{
  width: 100%;
}